[submodule "libraries/cubemx_wb5m"]
	path = libraries/cubemx_wb5m
	url = git@gitlab.com:tolttech/adr/cubemx_wb5m.git
[submodule "cmake"]
	path = cmake
	url = git@gitlab.com:tolttech/adr/cmake_toolchain_gcc.git
